.page-grid {	
  display: grid;
	grid-template-columns: 1fr;
  grid-template-rows: 4rem 2rem 1fr 2rem;
  min-height: 100vh;
}


.page-main {
  background-color: rgba(25, 165, 90, 0.4)
}

.page-nav {
  background-color: rgba(202, 148, 31, 0.4)
}

.page-header {
  background-color: rgba(177, 171, 160, 0.4);
  padding: 0 1rem;
} 
  .page-header--title{
    display: inline;
  }

.page-footer {
  line-height: 2rem;
  padding-left: 1rem;
}

.header-grid {
  display: grid;
  line-height: 3rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 50px 50px;
  grid-gap: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.btn {
  display: inline-block;  
  text-decoration: none;  
  display: inline-block;
  background-color: navy;
  color: white;
  text-align: center;
  border-radius: .2em;
}
  .btn:hover{  
    font-size: 1.1em;
    font-weight: bold;
  }
  .btn--icon{
    font-size: 1.5em;
  }
  .btn--icon:hover{
    font-size: 1.8em;
  }
