.container {  
    width: 100vw;
    min-height: 100vh;
  
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 96vw;
  
    padding-right: 2vw;
    padding-left: 2vw;
  
    @include for-desktop-up {
        grid-template-columns: 90vw;
        padding-right: 5vw;
        padding-left: 5vw;
    }
    @include for-big-desktop-up {
        grid-template-columns: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
  }
  
.header {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    &__title {
        
    }
    &__links {
        font-size: 2em;
        margin: 0.67em 0;
    }
}

.search {
    display: grid;
    grid-template-columns: 4em 12em repeat(2, 1.6em) 6em;
    grid-template-rows: auto;
    grid-gap: .2em;
    align-items: center;    
}

.main {
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .4s;
    &.-isvisible {
        opacity: 1;
        visibility: visible;
    }
}
